/* Padronização */
#promocoes{
    width: 100%;
    min-height: 400px;
}
.promocoes_faixa{
    width: 100%;
    height: 400px;
}
.promocoes_table{
    width: inherit;
    height: inherit;
    padding-right: 100px;
}
.promocoes_img{
    height: inherit;  /* 400px */
    width: 170px;
}
.promocoes_txt{
    color: black;
    width: 550px;
    line-height:  1.5;
    padding-left: 30px;
    padding-right: 30px;
}
.promocoes_txt h1{
    margin-bottom: 10px;
}

/* Preços */
.preco_antigo{
    text-decoration: line-through;
    font-size: 20px;
    width: 140px;
    margin-top: 20px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.preco_atual{
   font-size: 23px; 
   width: 160px;
   text-align: center;
   color: white;
   font-weight: bold;
}

/* Botões */
.btn_compre{
    margin-left: 140px;
    width: 150px;
    color: white;
    box-sizing: border-box;
    padding-top: 4px;
    font-size: 27px;
    height: 50px;
    margin-top: -10px;
    border: solid 1px black;
    text-align: center;
    border-radius: 20px;
}
.btn_compre:hover{
    cursor: pointer;
}

/* SLOGAN */
#faixa_slogan{
    width: 100%;
    height: 500px;
}
#slogan{
    width: inherit;
    height: inherit;
    font-size: 50px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-left: 250px;
    padding-top: 100px;
    color: white;
}
#slogan_right, #slogan_left{
    width: 650px;
    padding-top: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    height: 70px;
    margin-left: 300px;
    margin-right: 200px;
    text-align: center;
}
#slogan_left{
    margin-left: 20px;
    margin-right: 0px;
}