/* SOBRE */
#sobre{
    width: 100%;
    min-height: 1900px;
    height: auto;
}
#sobre_nos{
    width: 100%;
    height: 650px;
}
#table_sobre_nos{
    width: 1200px;
    height: inherit;
}
#titulo_sobre_nos{
    width: 50%;
    height: inherit;
    font-size: 140px;
    color: white;
    font-family: sans-serif;
    padding-top: 90px;
    text-align: center;
    padding-left: 25px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.textos{
    font-size: 17px;
    color: white;
    box-sizing: border-box;
    padding-top: 90px;
    text-align: left;
    padding-left: 25px;
    padding-right: 10px;
}

/* Faixa 2 - "ENTENDA A DIFERENÇA"*/
#entenda_diferenca{
    width: 100%;
    height: 220px;
}
#titulo_entenda_diferenca{
    width: 1200px;
    margin-top: 20px;
    height: 180px;
    box-sizing: border-box;
    padding-top: 60px;
    border: solid 2px white;
    font-size: 23px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}

/* Faixa 3 - "O QUE FAZEMOS?"*/
#oque_fazemos{
    width: 100%;
    height: 500px;
}
#table_oque_fazemos .textos{
    padding-top: 0px;
    width: 50%;
    height: inherit;
}
#table_oque_fazemos .textos h2, #table_como_fazemos .textos h2{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 15px;
}
#img_oque_fazemos{
    width: 50%;
    height: 500px;
    background-image: url(../imgs/sobre.png);
}
#table_oque_fazemos{
    width: 1300px;
    height: inherit;
}

/* Faixa 4 - "COMO FAZEMOS?"*/
#como_fazemos{
    width: 100%;
    height: 650px;
}
#table_como_fazemos{
    width: 1400px;
    height: inherit;
    padding-top: 40px;
}
#table_como_fazemos .textos{
    padding-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
#linha_img_como_fazemos{
   width: 1400px;
   height: 400px;
}
#img_como_fazemos{
   width: 1400px;
   height: 400px;
   background-image: url(../imgs/sobre-pics-01.png); 
}
#linha_txt_como_fazemos{
    width: inherit;
    height: 200px;
}


/* Faixa 5 - MISSÃO, VISÃO E VALORES*/
#valores{
    width: 100%;
    height: 652px;
    text-align: center;
    padding-top: 40px;
    color: white;
}
#valores .conteudo h2{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 15px;
}
.sobre_valores{
    margin-top: 25px;
    width: 400px;
    margin-left: 47px;
    margin-right: 47px;
    border: solid 1px #870c4a;
    height: 500px;
    text-align: center;
}
.sobre_valores:hover{
    margin-top: 24px;
    margin-left: 46px;
    margin-right: 46px;
    border: solid 2px #870c4a; 
}
.sobre_valores h1{
    margin-bottom: 30px;
    margin-top: 32px;
    color: white;
    font-family: sans-serif;
}

/* icones e texto */
.icones_valores{
    width: 200px;
    height: 200px;
    border: solid 2px black;
    border-radius: 100px;
}
.icones_valores img{
   width: 200px;
   height: 200px; 
}
.textos_valores{
    width: 300px;
    height: 150px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
}



