    /* PADRONIZAÇÃO */
.fonte{
  font-family: "Century Gothic";
  font-size: 18px;  
}
.float{
   float: left;
}
.floatrig{
   float: right;
   margin-right: 100px;
}
.back{
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    margin: 0px;
    padding: 0px;
}
p{
    margin-bottom: 10px;
}
body{
    background-color: #000000;
}
.conteudo{
    width: 1500px;
    height: inherit;
    background-color: white;
	display: table;
}
#teste{
   height: 500px;
   width: 100%;
   background-color: black;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.botao:hover{
    cursor: pointer;
    
}

/* CABEÇALHO */
header{
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
    z-index: 4;
}
header .conteudo{
    background-color: black;
}
#header_caixa_logo{
    height: 80px;
    width: 260px;
    margin-top:10px; 
    background-color: #ede6dd;
}
#logo_img{
    height: inherit;
    background-size: cover;
    width: 80px;
    background-image: url(../imgs/iconjuice.png);
     /* PC SENAI*/
/*  background-image: url(../imgs/iconjuice2.png);  */
}
#logo_string{
    height: inherit;
    width: 180px;
    text-align: center;
    font-family: "Bernard MT Condensed";
    font-size: 30px;
    box-sizing: border-box;
    padding-top: 23px;
    color: #491948;
    text-transform: capitalize;
}
#header_login{
    height: 60px;
    margin-top: 20px;
    width: 350px;
    margin-left: 80px;
}
.login_txt{
   width: 130px;
   margin-left: 20px;
   height: inherit;
    font-family: "Century Gothic";
    font-size: 16px;
    color: white;
}
.login_txt input{
    height: 25px;
   margin-top: 4px;
}
#header_botao{
   color: white;
   height: 30px;
   margin-top: 25px;
   width: 40px;
   margin-left: 5px;
   border: 0px;
   border-radius: 10px;
   font-size: 15px;
   font-family: "Century Gothic";
}

/* MENU */
nav{
    width: 700px;
    height: 60px;
    margin-top: 20px;
    margin-left: 100px;
    box-sizing: border-box;
    padding-top: 15px;
}

#menu{
    width: inherit;
    height: 30px;
}
.menu_itens{
    height: inherit;
    text-align: center;
    min-width: 10px;
    margin-left: 15px;
    font-family: "Century Gothic";
    font-size: 16px;
    list-style: none;
    box-sizing: border-box;
    padding-top: 4px;
    
}
.menu_itens:hover a{ 
    color:#FCC351;
}
a{
    text-decoration: none;
    text-transform: capitalize; 
    color: white;
}

/* RODAPÉ */
footer{
   width: 100%;
   background-color: #1b1f1e;
   height: 150px;
}
footer .conteudo{
    background-color: black;
}
#footer_system, #footer_app{
   width: 200px;
   height: 60px;
   margin-left: 15px;
   margin-top: 45px;
   padding-top: 19px;
   text-align: center;
   color: black;
   box-sizing: border-box;
   border-radius: 15px;
}
#footer_system a, #footer_app a{
   color: black; 
}
#footer_system{
   margin-right: 260px;
   margin-left: 40px;
}
#footer_system:hover, #footer_app:hover{
   cursor: pointer;
   width: 220px;
   height: 66px;
   margin-top: 39px;
   font-size: 20px;
   border-radius: 19px;
   padding-top: 20px;
}
#footer_system:hover{
   margin-right: 240px;
}
#footer_end{
  width: 500px;
  height: 50px;
  margin-top: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  color: white;
}
#footer_img{
  height: 70px;
  width: 70px;
  background-color: black;
  margin-top: 40px;
  background-image: url(../imgs/iconjuice.png);
  /* PC SENAI*/
/*  background-image: url(../imgs/iconjuice2.png);  */
  margin-left: 170px;
}





/* PRODUTO DO MES*/
#produto_mes_main{
   width: 100%;
   height: 780px;
   padding-top: 100px;
/* Mudar para imagem de fundo desfocada  */
   background-color:#76c454; 
}
#produto_mes_main .conteudo{
/*    Desfocar um pouco */
    background-image: url(../imgs/produtoMesfundo.png);
}
#produto_mes_img{
   width: 640px;
   height: 424px;
   margin-top: 150px;
   margin-left: 50px;
   border: solid 2px; 
/* Aplicar isso de forma correta */
   background-clip: border-box;
   float: left;
   background-image: url(../imgs/limao.png);
}
#produto_mes_txt{
   height: 680px;
   width: 600px;
   float: left;
   color: white;
   margin-top: 45px;
   font-family: arial, roboto, sans-serif;
   background-color: rgba(0,0,0,0.8);
   box-sizing: border-box;
   padding-right: 25px;
   padding-top: 30px;
   padding-left: 15px;
   margin-left: 140px;
   text-align: right;
}
#produto_mes_txt p{
   margin-bottom: 25px;
   font-size: 18px;
   line-height: 1.5;
}
#produto_mes_txt h2{
   margin-bottom: 30px;
   font-size: 25px;
}
#produto_mes_caixa{
    width: 400px;
    height: 50px;
    margin-top: 45px;
    margin-left: 100px;
}
.produto_mes_btn{
    width: 150px;
    margin-left: 50px;
    height: inherit;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    background-color: #36910d;
}

/* CORES NO MEU PC */
.back_orange{
    background-color: #F08137;
}
.back_pink{
    background-color: #C91652;
}
.back_yellow{
    background-color: #FCC351;
}
.back_blue_dark{
    background-color: #0e1540;
}
.back_green{
    background-color: #00c986;
}
.back_green_dark{
    background-color: #1a7d30;
}
.back_blue{
    background-color: #34b8e0;
}
.back_goiaba{
    background-color: #de524e;
}

/* CORES NO PC DO SENAI */
/*
.back_orange{
    background-color: #F0AF81;
}
.back_pink{
    background-color: #D95FBA; 
}
.back_yellow{
    background-color: #f0d297;
}
.back_blue_dark{
    background-color: #385396;
}
.back_blue_dark{
    background-color: #49609c;
}
.back_green{
    background-color: #2cd1c3;
}
.back_green_dark{
    background-color: #57ad81;
}
.back_blue{
    background-color: #2bcee0;
}
.back_goiaba{
    background-color: #d17b94;
}
*/


/*
 CURIOSIDADES 
#curiosidades_main{
    width: 100%;
    min-height: 1800px;
}
#curiosidades_main .conteudo, #sobre_main .conteudo{
    text-align: center;
    box-sizing: border-box;
    padding-top: 150px;
}
#curiosidades_main .conteudo h1, #sobre_main .conteudo h1{
    font-size: 45px;
    margin-bottom: 20px;
}
#curiosidades_main .conteudo p, #sobre_main .conteudo p{
    margin-bottom: 40px;
}
#curiosidades_fundo_img, #curiosidades_fundo_img2, #sobre_fundo_img{
    width: 100%;
    height: 340px;
    background-image: url(../imgs/curiosidadesfundo.png);
    background-attachment: fixed;
}
#curiosidades_fundo_img2{
    background-image: url(../imgs/curiosidadesfundo2.png);
}
#curiosidades_fundo_img div{
    height: inherit;
    width: inherit;
}
.curiosidades_sessao, .sobre_sessao{
    width: inherit;
    height: 450px;
    margin-bottom: 25px;
}
.barra_titulo{
    width: inherit;
    margin-bottom: 20px;
    height: 98px;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: capitalize;
    text-align: center;
}
.barra_titulo h2{
    box-sizing: border-box;
    padding-top: 22px;
    width: inherit;
    height: inherit;
}
.curiosidades_img, .sobre_img{
    width: 500px;
    height: 300px;
    border: solid 1px;
    margin-left: 75px;
}
.curiosidades_txt, .sobre_txt{
    width: 725px;
    height: 300px;
    margin-left: 75px;
    text-transform:none;
    text-align: left;
    box-sizing: border-box;
    padding-top: 10px;
}
.curiosidades_txt p, .sobre_txt p{
    font-size: 21px;
}
#cur_img1, #sob_img1{
    background-image: url(../imgs/curiosidade1.png);
}
#cur_img2{
    background-image: url(../imgs/curiosidade2.png);
}
*/










