    /* PADRONIZAÇÃO */
.fonte{
  font-family: "Century Gothic";
  font-size: 18px;  
}
.float{
   float: left;
}
.floatrig{
   float: right;
   margin-right: 100px;
}
.back{
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    margin: 0px;
    padding: 0px;
}
p{
    margin-bottom: 10px;
}
.conteudo{
    width: 1500px;
    height: inherit;
    background-color: white;
	display: table;
}
#teste{
   height: 500px;
   width: 100%;
   background-color: black;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.botao:hover{
    cursor: pointer;
    
}

/* CABEÇALHO */
header{
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
    z-index: 4;
}
header .conteudo{
    background-color: black;
}
#header_caixa_logo{
    height: 80px;
    width: 260px;
    margin-top:10px; 
    background-color: black;
}
#logo_img{
    height: inherit;
    background-size: cover;
    width: 80px;
    background-image: url(../imgs/iconjuice.png);
    
}
#logo_string{
    height: inherit;
    width: 180px;
    text-align: center;
    font-family: "Bernard MT Condensed";
    font-size: 30px;
    box-sizing: border-box;
    padding-top: 23px;
    color: #9ed15c;
    text-transform: capitalize;
}
#header_login{
    height: 60px;
    margin-top: 20px;
    width: 350px;
    margin-left: 80px;
}
.login_txt{
   width: 130px;
   margin-left: 20px;
   height: inherit;
    font-family: "Century Gothic";
    font-size: 16px;
    color: white;
}
.login_txt input{
    height: 25px;
   margin-top: 4px;
}
#header_botao{
   color: white;
   height: 30px;
   margin-top: 25px;
   width: 40px;
   margin-left: 5px;
   border: 0px;
   border-radius: 10px;
   font-size: 15px;
   font-family: "Century Gothic";
}

/* MENU */
nav{
    width: 700px;
    height: 60px;
    margin-top: 20px;
    margin-left: 100px;
    box-sizing: border-box;
    padding-top: 15px;
}

#menu{
    width: inherit;
    height: 30px;
}
.menu_itens{
    height: inherit;
    text-align: center;
    min-width: 10px;
    margin-left: 15px;
    font-family: "Century Gothic";
    font-size: 16px;
    list-style: none;
    box-sizing: border-box;
    padding-top: 4px;
    
}
.menu_itens:hover a{ 
    color:#FCC351;
}
a{
    text-decoration: none;
    text-transform: capitalize; 
    color: white;
}

/* RODAPÉ */
footer{
   width: 100%;
   background-color: #1b1f1e;
   height: 150px;
}
footer .conteudo{
    background-color: black;
}
#footer_system, #footer_app{
   width: 200px;
   height: 60px;
   margin-left: 15px;
   margin-top: 45px;
   padding-top: 19px;
   text-align: center;
   color: white;
   box-sizing: border-box;
   border-radius: 15px;
}
#footer_system a, #footer_app a{
   color: white; 
}
#footer_system{
   margin-right: 260px;
   margin-left: 40px;
}
#footer_system:hover, #footer_app:hover{
   cursor: pointer;
   width: 220px;
   height: 66px;
   margin-top: 39px;
   font-size: 20px;
   border-radius: 19px;
   padding-top: 20px;
}
#footer_system:hover{
   margin-right: 240px;
}
#footer_end{
  width: 500px;
  height: 50px;
  margin-top: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  color: white;
}
#footer_img{
  height: 70px;
  width: 70px;
  background-color: black;
  margin-top: 40px;
  background-image: url(../imgs/iconjuice.png);
  /* PC SENAI*/
/*  background-image: url(../imgs/iconjuice2.png);  */
  margin-left: 170px;
}

/* CORES NO MEU PC */
.back_orange{
    background-color: #d47e46;
}
.back_pink{
    background-color: #870c4a;
}
.back_yellow{
    background-color: #FCC351;
}
.back_green_limao{
    background-color: #6d913f;
}
.back_green_limao_light{
    background-color: #a6d498;
}
.back_green{
    background-color: #32a881;
}
.back_goiaba{
    background-color: #ba6159;
}












